@font-face {
    font-family: "Alegreya Sans";
    src: url("/fonts/AlegreyaSans-Regular.ttf")
}
@font-face {
    font-family: "Alegreya Sans";
    src: url("/fonts/AlegreyaSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Alegreya Sans";
    src: url("/fonts/AlegreyaSans-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Alegreya Sans";
    src: url("/fonts/AlegreyaSans-BoldItalic.ttf");font-weight: bold;
    font-style: italic;
}

body {
    background-color: #f1dde2;
    font-family: "Alegreya Sans", sans-serif;
}

/* defaults sourced from w3schools */

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold; 
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h4 {
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h6 {
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
