@font-face {
    font-family: "Alegreya Sans";
    src: url("/fonts/AlegreyaSans-Regular.ttf")
}
@font-face {
    font-family: "Alegreya Sans";
    src: url("/fonts/AlegreyaSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Alegreya Sans";
    src: url("/fonts/AlegreyaSans-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Alegreya Sans";
    src: url("/fonts/AlegreyaSans-BoldItalic.ttf");font-weight: bold;
    font-style: italic;
}

body {
    background-color: #f1dde2;
    font-family: "Alegreya Sans", sans-serif;
    max-width: 700px;
    margin: auto;
    padding: 1em
}

img {
    max-width: 100%;
}

.blog-post-subtitle {
    font-weight: bold;
    font-size: 1.17em;
    margin: 0;
}

.blog-post-date {
    font-weight: bold;
    margin: 0;
}

.blog-post-title {
    margin: 0;
}

.blog-post-link {
    margin-bottom: 0;
    color: inherit;
}

.blog-post-number {
    margin-bottom: 0;
}

/* Container for previous post and next post buttons */
.blog-post-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    .prev-post, .next-post, .this-post {
        display: inline-block;
        p {
            margin: 0;
        }
        a {
            color: blue;
        }
        .blog-post-nav-heading {
            font-weight: bold;
        }
    }
    /* Absolute center */
    .this-post { 
        position: absolute;
        left: 0;
        right: 0;
        margin-inline: auto;
        width: fit-content;
        /* transform: translateX(-50%); */
        text-align: center;
    }
    .next-post {
        text-align: right;
    }
    .hide {
        width: 0;
        overflow: hidden;
        color: yellow;
    }
}

ul.nav-menu {
    margin: -1em;
    margin-top: -100%;
    padding: 1em;
    padding-bottom: 100%;
    /* margin: 0;
    padding: 0; */
    width: fit-content;
    /* height: 4em; */
    overflow: hidden;
    aspect-ratio: 1 / 1;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;
    /* outline: solid; */
    li {
        /* list-style-image: url("components/bullet.svg"); */
        width: max-content;
        margin: 0;
        padding: 0;
        padding-left: 0.25em;
        transform: rotate(30deg);
        transform-origin: bottom left;
        font-size: 12pt;
    }

    li.current-page {
        font-weight: bold;
    }
    
    li::marker {
        content: url("/components/bullet.svg");
    }
    li.current-page::marker {
        content: url("/components/bullet2.svg");
    }

    li:before {
        background-color: #000;
        width: 2.7px;
        content: '';
        position: fixed;
        top: 11px;
        bottom: -6px;
        left: 3.1px;
        transform: rotate(-30deg);
        transform-origin: bottom left;

    }

    li:last-child:before {
        opacity: 0;
    }

    a {
        color: blue;
    }
}

hr {
    display: block;
    height: 0.5px;
    border: none;
    border-top: 1px solid black;
    margin: 0.5em 0;
    padding: 0; 
}

table,
th,
td {
    border: 1px solid black;
}

td {
    text-align: center;
}

/* defaults sourced from w3schools */

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h4 {
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h6 {
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
