<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="styles.css" rel="stylesheet" />
    <script src="components/header.js" type="text/javascript" defer></script>
</head>

<body>

    <h1 id="page-title">Blog</h1>
    <header-component></header-component>
    
    <hr>
    {% for blog_post in blog_posts %}
    <div>
        {{ blog_post }}
    </div>
    {% endfor %}
</body>

</html>