<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="/styles/styles.css" rel="stylesheet" />
    <script src="/components/header.js" type="text/javascript" defer></script>
</head>

<style>
    .blog-post-date {
        font-weight: bold;
        margin: 0;
    }

    .blog-post-title {
        margin-bottom: 0;
    }
</style>

<body>

    <h1 id="page-title">Blog Post</h1>
    <header-component></header-component>
    
    <hr>
    <div class="blog-post">
        <h2 class="blog-post-title">{{ blog_post.title }}</h2>
        {% if blog_post["subtitle"] is string %}
        <p class="blog-post-subtitle" >{{ blog_post["subtitle"] }}</p>
        {% endif %}
        <p class="blog-post-date">{{ blog_post["date-created"] }}</p>
        {{ blog_post.content }}
    </div>
</body>

</html>