<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="/styles/styles.css" rel="stylesheet" />
    <script src="/components/header.js" type="text/javascript" defer></script>
</head>

<body>

    <h1 id="page-title">Blog</h1>
    <header-component></header-component>
    
    <hr>
    {% for blog_post in blog_posts %}
    <div class="blog-post">
        <a class="blog-post-link" href={{blog_post["link"]}}>
            <h2 class="blog-post-title">{{ blog_post["title"] }}</h2>
            {% if blog_post["subtitle"] is string %}
            <p class="blog-post-subtitle" >{{ blog_post["subtitle"] }}</p>
            {% endif %}
            <p class="blog-post-date" >{{ blog_post["date-created"] }}</p>
        </a>
        {{ blog_post.content }}
    </div>
    {% endfor %}
</body>

</html>