<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="/styles/styles.css" rel="stylesheet" />
</head>

<body>
    <h1>Vivian's website</h1>
    {{ navbar }}
    <hr>
    <p>Welcome to my website!! :3</p>
    <p>Maybe <a href={{ latest_post.link }}>read my latest blog post</a>, or check out the <a href="/reading.html">books I've been reading</a> :)</p>
</body>
<html>