<nav>
    <ul class="nav-menu">
        {% for item in nav_menu %}
        <li 
            {% if item.index == current_page %}
                class="current-page"
            {% endif %}
        >
            <a href={{ item.link }}>
                {{ item.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>